body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}



.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
}

.buy-section, .sell-section {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.buy-section {
    background-color: #007bff;
    color: white;
}

.sell-section {
    background-color: #ff7b00;
    color: white;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sell-info {
    padding: 30px;
}

.device-filter {
    background-color: #ff7b00;
    color: white;
    padding: 20px;
    text-align: left;
    width: 200px;
    margin: auto;
    border-radius: 10px;
}

.trade-in {
    padding: 30px;
}

.device-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.device {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}
